
## GCM API Key
gcm.server.apikey=AIzaSyCvUF4p_h1P88qvNDkLMPtjBizAbzrtaxA

## GCM sender Id
gcm.sender.id=981962933635

## GCM Server User =  senderId + domain
gcm.server.domain=@gcm.googleapis.com

## GCM PROD end point
gcm.endpoint.prod=gcm-xmpp.googleapis.com:5235

## GCM PRE-PROD end-point
gcm.endpoint.pre-prod=gcm-preprod.googleapis.com:5236

## Set http(s) port numbers
#http.port=7080
#https.port=7443

## Set H2 Database port number
#h2.port=12090

## Enable SSL
ssl.enabled=true

## Java Keystore File name
keystore.file=keystore.jks
keystore.password=test123
keystore.keyname=mykey
